# Ignore node_modules folder
node_modules/

# Ignore the npm logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore the IDE and editor-specific files
.vscode/
.idea/

# Ignore environment files
.env
